<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/container.css" />
	<link rel="stylesheet" href="/stylesheets/home_page.css" />
	<link rel="stylesheet" href="/stylesheets/product-page.css" />
	<link rel="stylesheet" href="/stylesheets/category-page.css" />
	<link rel="stylesheet" href="/stylesheets/add_product.css" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&family=Source+Sans+Pro:wght@400;700&display=swap"
		rel="stylesheet"
	/>
	<script src="/javascripts/script.js" defer></script>
</head>
