<header>
	<p class="logo"><a href="/">Târgul de Haine</a></p>
	<nav id="nav">
		<img
			src="/images/menu-burger.svg"
			alt="burger"
			srcset=""
			class="burger"
			id="burger"
		/>
		<ul class="nav-ul" id="nav-ul">
			<li><a href="/haine/adauga">Adaugă haine</a></li>
		</ul>
	</nav>
</header>
