<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<h1>Ops! Aceasta pagina nu exista!</h1>
		<footer>
			<p>&copy; Lucaci Eduard 2022</p>
		</footer>
	</body>
</html>
